{% extends 'base.html.twig' %}

{% block head %}
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Online Soap Test</title> 
	<meta name="description" content="Online SOAP test"/>
	<meta name="keywords" content="SOAP test online" />
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- end: Mobile Specific -->

    <!-- start: CSS -->
    {% block stylesheets %}
		{{ parent() }}
        <link href="{{ asset('bundles/Onlinesoaptest/css/style.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/Onlinesoaptest/css/parallax-slider.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/Onlinesoaptest/css/styles.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/Onlinesoaptest/css/fonts.css') }}" rel="stylesheet">
    {% endblock stylesheets %}
	<!-- end: CSS -->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
		<link href="{{ asset('bundles/Onlinesoaptest/css/ie.css') }} rel="stylesheet">
    <![endif]-->

	<!--[if IE 9]>
    	<link href="{{ asset('bundles/Onlinesoaptest/css/ie9.css') }} rel="stylesheet">
    <![endif]-->
     	
	<script src="{{ asset('bundles/Onlinesoaptest/js/jquery.js') }}"></script>
     	
</head>

{% endblock head %}

{% block body %}

	{{ parent() }}
	
	{% block header %}

		<!--start: Headder -->
		<header>
			
			<!--start: Container -->
			<div class="container">

				<!--start: Navigation -->
				<div class="navbar navbar-inverse">
		    		<div class="navbar-inner">
		          		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		            		<span class="icon-bar"></span>
		            		<span class="icon-bar"></span>
		            		<span class="icon-bar"></span>
		          		</a>
						<a class="brand" href="/"><i class="ico-thin-right-arrow ico-color circle"></i> Online<span>Soap</span>Test.</a>
		          		<div class="nav-collapse collapse">
		            		<ul class="nav">
								<li class="{% if active == 'home' %}active{% endif %}"><a href="/">Home</a></li>
		              			<li class="{% if active == 'about' %}active{% endif %}"><a href="/about">About</a></li>
							<!--	<li class="dropdown">
		                			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Features<b class="caret"></b></a>
		                			<ul class="dropdown-menu">
		                  				<li><a href="/social-icons">Social Icons</a></li>
										<li><a href="/icons">Icons</a></li>
										<li><a href="/typography">Typography</a></li>
										<li><a href="/shortcodes">Shortcodes</a></li>
										<li><a href="/list-styles">List Styles</a></li>
		                			</ul>
		              			</li>
								<li class="dropdown">
		                			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio<b class="caret"></b></a>
		                			<ul class="dropdown-menu">
		                  				<li><a href="/portfolio3">3 Columns</a></li>
										<li><a href="/portfolio4">4 Columns</a></li>
		                			</ul>
		              			</li>									
								<li><a href="/services">Services</a></li>
								<li><a href="/pricing">Pricing</a></li> -->
								<li class="{% if active == 'photos' %}active{% endif %}"><a href="/photos">Photos</a></li>
		              			<li class="{% if active == 'contact' %}active{% endif %}"><a href="/contact">Contact</a></li>
		            		</ul>
		          		</div>
		        	</div>
		      	</div>	
				<!--end: Navigation -->
												
			</div>
			<!--end: Container-->			
				
		</header>
		<!--end: Header-->
	
	{% endblock header %}
	
	<!--start: Wrapper-->
	<div id="wrapper">
				
		<!--start: Container -->
    	<div class="container">
		
		
		<div class="messages">
			
			{% for flashMessage in app.session.flashbag.get('error') %}
			
			<div class="error">
			    {{ flashMessage }}
			
			</div>
			{% endfor %}
							
			{% for flashMessage in app.session.flashbag.get('success') %}
			
			<div class="success">
			    {{ flashMessage }}
			
			</div>
			{% endfor %}
	
		</div>
	
			<hr>
				
				{% block content %} {% endblock content %}
				<br>
			<hr>
			
		</div>
		<!--end: Container-->
	
	</div>
	<!-- end: Wrapper  -->			

	
	{% block footer %}

		<!-- start: Footer Menu -->
		<div id="footer-menu" class="hidden-tablet hidden-phone">
	
	
	
	{#% include 'footer.html.twig' %#}
	
	
	
	
					<!-- start: Footer Menu Logo -->
					<div class="span3">
						<div id="footer-menu-logo">
							<a class="brand" href="#">Online<span>Soap</span>Test</a>
						</div>
					</div>
					<!-- end: Footer Menu Logo -->
	
					<!-- start: Footer Menu Links-->
					<div class="span4">
						
						<div id="footer-menu-links">
	
							<ul id="footer-nav">
	
								<li><a href="/">Home</a></li>
	
								<li><a href="/about">About</a></li>
	
								<li><a href="/photos">Photos</a></li>
	
								<li><a href="/contact">Contact</a></li>
	
							</ul>
	
						</div>
						
					</div>
					<!-- end: Footer Menu Links-->
					<div class="span5">
				
							{% include "OnlinesoaptestBundle::share.html.twig" %}
					</div>	
					<!-- start: Footer Menu Back To Top -->
					<div class="span1">
							
						<div id="footer-menu-back-to-top">
							<a href="#"></a>
						</div>
					
					</div>
					<!-- end: Footer Menu Back To Top -->
				
				</div>
				<!-- end: Row -->
				
			</div>
			<!-- end: Container  -->	
	
		</div>	
		<!-- end: Footer Menu -->
	
		<!-- start: Copyright -->
		<div id="copyright">
		
			<!-- start: Container -->
			<div class="container">
			
				<div class="sixteen columns">
					<p>
						&copy; {{"now"|date('Y')}}   <a href="http://onlinesoaptest.com">OnlineSoapTest</a> <img src="{{ asset('bundles/Onlinesoaptest/images/poland.png') }}" alt="Poland" style="margin-top:-4px">
					</p>
				</div>
		
			</div>
			<!-- end: Container  -->
			
		</div>	
		<!-- end: Copyright -->
	
		{% block js %}
		
		    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		    <!--[if lt IE 9]>
		     	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		    <![endif]-->
    
			<script type="text/javascript">
			
				$('document').ready( function() {
		
				});
			
				{% include 'OnlinesoaptestBundle::analytics.html.twig' %}
			
			</script>
			
		{% endblock js %}
	
	{% endblock footer %}

{% endblock body %}
